@model TrungTam.Areas.Admin.Models.GIAO_VIEN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GIAO_VIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HO_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HO_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIOI_TINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOI_TINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NG_SINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NG_SINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAI_KHOAN.TAI_KHOAN1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAI_KHOAN.TAI_KHOAN1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
