@model PagedList.IPagedList<TrungTam.Areas.Admin.Models.GIA_SU>
@using PagedList.Mvc;
@{
    ViewBag.Title = "TuyenG_SU";
    Layout = "~/Areas/Admin/Views/Shared/Layout_G_S.cshtml";
}

<div class="container">
    <h2 class="text-center pt-5"> TUYỂN GIA SƯ</h2>
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12  mt-3 bg-info  text-white pl-5">
            @foreach (var item in Model)
            {

                <hr />
                <h5><i class="fa fa-check-circle pr-1"></i>Lớp dạy: @item.TEN_LOP</h5>
                <h5><i class="fa fa-check-circle pr-1"></i>Môn dạy: @item.MON_DAY</h5>
                <h5><i class="fa fa-check-circle pr-1"></i>Đơn giá: @item.DON_GIA</h5>
                <h5><i class="fa fa-check-circle pr-1"></i>Thời gian dạy: @item.THOI_GIAN</h5>
                <h5><i class="fa fa-check-circle pr-1"></i>Địa chỉ: @item.DIA_CHI</h5>
                <h5><i class="fa fa-check-circle pr-1"></i>Yêu cầu: @item.YEU_CAU</h5>
                <h5><i class="fa fa-check-circle pr-1"></i>Liên hệ: @item.LIEN_HE</h5>

            }
        </div>
        @Html.PagedListPager(Model, page => Url.Action("tuyengiasu", new { page }))
    </div>
</div>



