@*===============thay chỗ này=========================*@
@model PagedList.IPagedList<TrungTam.Areas.Admin.Models.NGOAI_GIO>
@using PagedList.Mvc;
@*=====================kết thúc thay===================*@
@{
    ViewBag.Title = "Index";
    var id = Session["ID"];
    if (id.ToString().First().Equals('9'))
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout_vanphong.cshtml";
    }
    var listgv = (List<TrungTam.Areas.Admin.Models.GIAO_VIEN>)ViewBag.listgv;
    var listhd = (List<TrungTam.Areas.Admin.Models.BANG_LUONG>)ViewBag.listhd;
}

<h2 class="Title_Content">Danh sách chấm công ngoài lịch dạy</h2>
<button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus-square mr-2"></i>Thêm mới</button>
<div class="card-body">
    @*<div class="row mb-3">
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tên nhân viên" id="searchName">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="btnTimNV"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>*@
    <table class="table table-responsive table-bordered table-hover" id="listHS">
        <thead class="text-center bg-primary text-white">
            <tr>
                <td>Họ và Tên</td>
                <td>Loại hoạt động</td>
                <td>Ngày làm</td>
                <td>Số lượng</td>
                <th><em class="fa fa-cog"></em></th>
            </tr>
        </thead>
        <tbody id="HS" class="text-center">
            @foreach (var item in Model)
            {
                using (Html.BeginForm("Delete", "NGOAI_GIO", new { id = item.MA_NGOAI_GIO }))
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GIAO_VIEN.HO_TEN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BANG_LUONG.TEN_LOAI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NGAY_LAM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SO_LUONG)
                    </td>
                    <td>
                        <a href="~/Admin/NGOAI_GIO/Edit/@item.MA_NGOAI_GIO" class="btn btn-warning">sửa</a>
                        <input type="submit" class="btn btn-danger" value="Xóa" onclick="return confirm('Bạn chắc chắn muốn xóa chấm công này ?');" />
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
    @*==================thay đây nữa======================*@
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    @*========================================*@
</div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title title_TieuDe" id="exampleModalLabel">Chấm công ngoài giờ</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    @Html.ValidationSummary(true);
                    <form role="form" action="~/NGOAI_GIO/Create" method="post" onsubmit="return themgio()">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text bg-primary text-white" for="inputGroupSelect01">Nhân viên</label>
                                </div>
                                <select class="custom-select" name="magv">
                                    @foreach (var item in listgv)
                                    {
                                        <option value="@item.MA_GV">@item.HO_TEN</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text bg-primary text-white" for="inputGroupSelect01">Hoạt động</label>
                                </div>
                                <select class="custom-select" name="maluong">
                                    @foreach (var item in listhd)
                                    {
                                        if (item.SO_LUONG_MAX == 0)
                                        {
                                            <option value="@item.MA_LOAI_LUONG">@item.TEN_LOAI</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text bg-primary text-white" for="inputGroupSelect01">Số lượng &nbsp;</label>
                                </div>
                                <input type="text" name="soluong" id="soGio" class="form-control" placeholder="Số lần thực hiện" />
                            </div>
                            <span class="sp-thongbao" id="tbSoGio"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text bg-primary text-white" for="inputGroupSelect01">Ngày làm &nbsp;</label>
                                </div>
                                <input type="date" name="ngaylam" id="datepicker" class="form-control" placeholder="Ngày làm">
                            </div>
                            <span class="sp-thongbao" id="tbNgay"></span>
                        </div>
                        <div class="modal-footer" id="modal-footer">
                            <button id="btnThemNV" type="submit" class="btn btn-primary">Thêm</button>
                            <button id="btnDong" type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal footer -->

        </div>
    </div>
