@model TrungTam.Areas.Admin.Models.BANG_LUONG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BANG_LUONG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_LOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_LOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DON_GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DON_GIA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_LOAI_LUONG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
