@model PagedList.IPagedList<TrungTam.Areas.Admin.Abstracts.LopHoc_New>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    var id = Session["ID"];
    if (id.ToString().First().Equals('9'))
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout_vanphong.cshtml";
    }
}

<h2 class="Title_Content">Danh sách các lớp</h2>

<table class="table table-bordered  table-responsive">
    @Html.AntiForgeryToken();
    <tr class="text-white bg-primary text-center">
        <th>
            Tên lớp
        </th>
        <th>
            Sỉ số
        </th>
        <th>
            Giáo viên
        </th>
        <th>
            Khối
        </th>
        <th>
            Loại
        </th>
        <th>
            Môn
        </th>
        <th>Trạng thái</th>
        <th>Ngày mở lớp</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th><em class="fa fa-cog"></em></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenlop)
                <input type="hidden" id="malop" name="malop" value="@item.malop" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.siso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenkhoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenloai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenmon)
            </td>

            @if (item.trangthai == 1)
            {
                <td style="color:green;">Đang mở <button class="btn btn-success bd">Bắt đầu học</button></td>
                <td>@item.ngaymolop</td>
                <td></td>
                <td></td>
            }
            else if (item.trangthai == 0)
            {
                <td style="color:orange; padding-bottom:2px;">Đang học <button class="btn btn-outline-danger kt">Kết thúc lớp học</button></td>
                <td>@item.ngaymolop</td>
                <td>@item.ngayhoc</td>
                <td></td>
            }
            else
            {
                <td style="color:red;">Đã kết thúc</td>
                <td>@item.ngaymolop</td>
                <td>@item.ngayhoc</td>
                <td>@item.ngayketthuc</td>
            }

                <td>
                    <button type="button" class="btn btn-warning">@Html.ActionLink("Chi tiết", "Details", new { id = item.malop }) </button>
                    
                </td>
        </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
@section ClientScript{
    <script>

        $('table tbody').on('click', 'button.bd', function () {
            var token = $("[name='__RequestVerificationToken']").val();
            var malop = $(this).closest('tr').find('input[name="malop"]').val();
            bootbox.confirm({
                message: "Bạn có chắc chắn sẽ bắt đầu lớp không?",
                buttons: {
                    confirm: {
                        label: "Có",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "Không",
                        className: "btn-success"
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Admin/LOP_HOC/StatuClass",
                            data: {
                                __RequestVerificationToken: token,
                                id: malop
                            },
                            type: "POST",
                            success: function (response) {
                                bootbox.alert({
                                    message: "Thành công",
                                    callback: function () {
                                        location.href = '@Url.Action("Index", "LOP_HOC")';
                                    }
                                });
                            },
                            error: function () {
                                bootbox.alert("Không thành công");
                            }
                        });
                    }
                }
            })
        });
         $('table tbody').on('click', 'button.kt', function () {
            var token = $("[name='__RequestVerificationToken']").val();
            var malop = $(this).closest('tr').find('input[name="malop"]').val();
            bootbox.confirm({
                message: "Bạn có chắc chắn sẽ kết thúc lớp không?",
                buttons: {
                    confirm: {
                        label: "Có",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "Không",
                        className: "btn-success"
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Admin/LOP_HOC/StatuTheEnd",
                            data: {
                                __RequestVerificationToken: token,
                                id: malop
                            },
                            type: "POST",
                            success: function (response) {
                                bootbox.alert({
                                    message: "Thành công",
                                    callback: function () {
                                        location.href = '@Url.Action("Index", "LOP_HOC")';
                                    }
                                });
                            },
                            error: function () {
                                bootbox.alert("Không thành công");
                            }
                        });
                    }
                }
            })
        });
    </script>
}