@*@model IEnumerable<TrungTam.Areas.Admin.Models.LOP_HOC>*@
@model PagedList.IPagedList<TrungTam.Areas.Admin.Abstracts.LopHoc_New>
    @using PagedList.Mvc;
    @{
        ViewBag.Title = "Index";
        Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    }

    <h2>Danh sách các lớp</h2>

    <table class="table">
        <tr>
            <th>
                Tên lớp
            </th>
            <th>
                Sỉ số
            </th>
            <th>
                Giáo viên
            </th>
            <th>
                Khối
            </th>
            <th>
                Loại
            </th>
            <th>
                Môn
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tenlop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.siso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hoten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenkhoi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenloai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenmon)
                </td>
                <td>
                    @Html.ActionLink("Chi tiết lớp", "Details", new{id  = item.malop})|
                    @Html.ActionLink("Sửa", "Edit", new { id = item.malop }) |
                    @Html.ActionLink("Xoá", "Delete", new { id = item.malop })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))        
