@model List<TrungTam.Areas.Admin.Models.LOP_HOC>
@{
    ViewBag.Title = "Index";
    var id = Session["ID"];
    if (id.ToString().First().Equals('9'))
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    }
    else if (id.ToString().First().Equals('8'))
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout_vanphong.cshtml";
    }
    // Array lop = null;
    //if (Model != null)
    //{
    //    lop = @Model.ToArray();
    //}
}

<h2 class="Title_Content">Xuất đánh giá theo tháng</h2>
<div class="m-3">
    @if(Model.Count != 0)
    {
        <select class="form-control" name="lophoc" id="lophoc">
            <option value="@Model[0].MA_LOP">Chọn lớp</option>
            @foreach (var i in Model)
            {
                <option value="@i.MA_LOP">
                    @i.TEN_LOP
                </option>
            }
        </select>
    }
</div>
<div class="col-sm-4 m-0 mb-3">
    <input class="form-control-sm" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" disabled id="datepicker" />
</div>



<table class="table table-bordered table-hover table-responsive">
    <thead class="text-white bg-primary">
        <tr>
            <th class="nowrap">
                <span class="mr-1">Mã học viên</span>
            </th>
            <th class="nowrap">
                <span class="mr-1">Họ tên</span>
            </th>
            <th class="nowrap">
                <span class="mr-1">Ngày sinh</span>
            </th>
            <th class="nowrap">

            </th>
        </tr>
    </thead>
    <tbody id="ds_hocsinh">
    </tbody>
</table>

@section ClientScript{
    <script>
        $('#datepicker').datepicker({
            showOn: "button",
            buttonImage: "/Asset/admin/img/calendar.png",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'dd/mm/yy',
            buttonText: "Select true"
        });
        $('#lophoc').change(function () {
            var malop = $('#lophoc').val();
            $.ajax({
                type: "GET",
                url: "/DANH_GIA_THEO_THANG/Index1",
                data: { id: malop },
                dataType: "JSON",
                traditional: true,
                contentType: "application/json; chartset=utf-8",
                success: function (response) {
                    $('tbody#ds_hocsinh').html("");
                    $(response).each(function (i, e) {
                        var tr = $("<tr/>");
                        $("<td/>").html('<input type = "hidden" name="mahs" id = "mahs" value = "' + e.mahs + '"/>' + e.mahs).appendTo(tr);
                        $("<td/>").html(e.tenhs).appendTo(tr);
                        $("<td/>").html(e.ngaysinh).appendTo(tr);
                        $("<td/>").html('<span class="mr-1"><button class="btn btn-primary xuat" id="xuat">Xuất đánh giá</button></span>').appendTo(tr);
                        $('#ds_hocsinh').append(tr);
                    });
                }
            });
        });
        $('table tbody').on('click', 'button.xuat', function () {
            function convertDate(inputFormat) {
                function pad(s) { return (s < 10) ? '0' + s : s; }
                var d = new Date(inputFormat);
                return [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()].join('/');
            }
            var temp = $('#datepicker').val();
            if (temp != '') {
                //var dateloc = convertDate($('#datepicker').val());
                var mahs = $(this).closest('tr').find('input[name="mahs"]').val();
                //var vcl = mahs + dateloc;
                var redirectWindow = window.open('@Url.Action("PrintReportMonth", "DANH_GIA_THEO_THANG")?id=' + mahs + '&date='+temp, '_blank');
                redirectWindow.location;
                //location.href = ;
                //$.ajax({
                //    type: 'GET',
                //    url: '/DANH_GIA_THEO_THANG/PrintReport',
                //    dataType: 'JSON',
                //    traditional: true,
                //    data: {
                //        id: vcl,
                //        date: temp
                //    },
                //    contentType: "application/json; chartset=utf-8",
                //    success: function (respose) {

                //    }
                //});
            }
        });
    </script>
}

