@model IEnumerable<TrungTam.Areas.Admin.Abstracts.ReportDanhGia>
@{
    ViewBag.Title = "KetQuaHocTap";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TrungTam.Areas.Admin.Abstracts.ReportDanhGia> lop = new List<TrungTam.Areas.Admin.Abstracts.ReportDanhGia>();
    int solop = 0;
    if (Model != null)
    {
        lop = Model.ToList();
        solop = Model.Select(i => i.tengv).Distinct().Count();
    }
}

<h2>Kết quả học tập</h2>
<input type="date" id="dat" value="@DateTime.Now" />
@Html.AntiForgeryToken()
@for (int i = 0; i < solop; i++)
{
    <div>Tên lớp: @lop[i].tenlop</div>
    //foreach (var m in mon)
    //{
    <div>Môn học: @lop[i].tenmon</div>
    <div class="container-fluid table">
        <table class="table table-bordered table-responsive table-hover" id="listHS">
            <thead class="text-center bg-primary text-white">
                <tr>
                    <th>
                        Buổi thứ
                    </th>
                    <th>Giáo viên phụ trách</th>
                    <th>Điểm danh</th>
                    <th>Bài tập về nhà</th>
                    <th>Nhận xét</th>
                </tr>
            </thead>
            <tbody id="HS">
                @foreach (var ct in Model)
                {
                    if (lop[i].tenlop == ct.tenlop)
                    {
                        <tr>
                            <td>@ct.buoihoc</td>
                            <td>@ct.tengv</td>
                            <td>@ct.diemdanh</td>
                            <td>@ct.btvn</td>
                            <td>@ct.nhanxet</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    //}
}
<script>
    $('#dat').change(function () {
        var token = $("[name='__RequestVerificationToken']").val();
        var mahs = @Session["ID"] + '_' + 'json';
        var dat = $('#dat').val();
        @*location.href = '@Url.Action("KetQuaHocTap1", "DANH_GIA_THEO_THANG")';*@
        $.ajax({
            url: '/Admin/DANH_GIA_THEO_THANG/KetQuaHocTap1',
            type: 'POST',
            dataType: 'Json',
            data: {
                __RequestVerificationToken: token,
                mahs: mahs,
                date: dat
            },
            success: function (response) {
                $('tbody#HS').html('');
                @*location.href = '@Url.Action("KetQuaHocTap", "DANH_GIA_THEO_THANG")';*@
                $(response).each(function (i, e) {
                    var tr = $("<tr/>");
                    $("<td/>").html(e.buoihoc).appendTo(tr);//bo sung <td> vao <tr>
                    $("<td/>").html(e.tengv).appendTo(tr);
                    $("<td/>").html(e.diemdanh).appendTo(tr);//bo sung <td> vao <tr>
                    $("<td/>").html(e.btvn).appendTo(tr);
                    $("<td/>").html(e.nhanxet).appendTo(tr);
                     tr.appendTo("tbody#HS");
                });
            }
        })
    });
</script>
