@model TrungTam.Areas.Admin.Models.KHOI_LOP

@{
    ViewBag.Title = "Create";
    var id = Session["ID"];
    if (id.ToString().First().Equals('9'))
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout_vanphong.cshtml";
    }
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>KHOI_LOP</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TEN_KHOI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEN_KHOI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TEN_KHOI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
